= form_for @match do |f|
  -if @match.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
